<div class="container">

  <form [formGroup]="diasForm" class="container  d-flex  justify-content-center mt-3">
    <input type="text" formControlName="desde">
    <input type="text" formControlName="hasta">

    <button (click)="reservar()">reservar</button>
  </form>

  <div class="cabecera d-flex justify-content-center align-items-center">
    <button class="btn" (click)="mesAnterior()">
      < </button> <h5 class="m-0">{{fecha.format('MMMM')}} - {{fecha.format('YYYY')}}</h5>
        <button class="btn" (click)="mesSiguiente()">></button>
  </div>

  <div class="letra-dia d-flex justify-content-center align-items-center flex-column ">
    <div class="contenedor-letras-dias  ">
      <div class="dia">D</div>
      <div class="dia">L</div>
      <div class="dia">M</div>
      <div class="dia">M</div>
      <div class="dia">J</div>
      <div class="dia">V</div>
      <div class="dia">S</div>
    </div>
    <div class=" dias">
      <div class="dia-numero" (click)="diaSelecionado(dia)"
        [ngClass]="{'actual': diaActual(dia) ,'selecionado':selecionarFechas(dia)}" *ngFor="let dia of diaArray">
        {{dia?.format('D')}}
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    {{resevar}}
  </div>
</div>